body {
    font-family: "Archivo", sans-serif;
    

}
.ic{
    font-size: 11px;
    margin-left: 5px;
    margin-right: 7px;
    padding: 0%;
    color: #4e4e4e;
}
.fe{
    display:flex;
    margin: 0%;
    

}

.fe i{
    margin-top:-5px;
}
.ice{
 margin-top:-5px;
 font-size: 11px;
    margin-left: 5px;
    margin-right: 7px;
    padding: 0%;
    color: #4e4e4e;
}
.bt{
    font-size: 13px;
    /* margin-left: 570px; */
    background-color: #5c45bf;
    border-radius: 20px;
    color:white;
    padding: 10px;
    margin-top: -15px;
    
}
.line{
    height: 0.5px;
    background-color: #000000;
}

.bt:hover{
    background-color: #fdf485;
    color: #000000;
}
.lsec i{
    color: #5c45bf;
   padding-left:2px ;
     font-size: 11px;
}

 .lsec img{
height: 319px;
 border-radius:15px 15px 0px 0px;
}
.bcon{
    background-color: white;
 box-shadow:2px 2px 10px rgba(0,0,0,0.3);
 border-radius: 0 0 15px 15px;
margin-right: 10px;
 border-radius: 0 0 15px 15px;
 padding: 10px;
 margin-top: -10px;
 } 
 .column1{
 margin: 80px 300px;
}
.lsec p{
    font-size: 12px;
     color: #000000;
     line-height: 17px;
     font-weight: 500;

}
.lsec {
    margin-top: 10px;
}
.video-container {

  height: 319px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  border-radius: 15px 15px 15px 0px;
}

.video-container iframe {
  width: 99%;
  height: 100%;

}
